@import "tailwindcss";

body,
html,
#app {
  background-color: #f8fafc !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark body,
.dark html,
.dark #app {
  background-color: #0f172a !important;
}

/* 💡 REMOVA ESTE BLOCO:
body,
.p-component,
.p-dialog,
.p-sidebar,
.p-menu,
.p-menubar,
.p-panel,
.p-card {
  background-color: transparent !important;
}
*/
